# Ignore all files in a directory
vizflyt_ws/src/vizflyt_viewer/data_backup/
vizflyt_ws/src/vizflyt_viewer/outputs_backup/
vizflyt_ws/src/vizflyt_viewer/data/
vizflyt_ws/src/vizflyt_viewer/outputs/
vizflyt_ws/build/
vizflyt_ws/install/
vizflyt_ws/log/
vizflyt_ws/src/debug/
blender-sim/
# Ignore specific file types
*.log
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.blend

# Ignore environment files
.env
venv/
*.venv
.vizflyt

*.mp4
*.pth